@model WebApp.Models.UserModel.User
@{
    ViewBag.Title = "User Details";
    
    // Initialize view data
    var transactions = ViewBag.Transactions as List<WebApp.Models.TransactionModel.TransactionViewModel>;    
    var currentPage = Convert.ToInt32(ViewData["CurrentPage"] ?? 1);
    var userId = Model.Id;
    
    // Alert message handling
    var message = TempData["Message"];
    var isSuccess = TempData["isSuccess"] != null && (bool)TempData["isSuccess"];
    var alertClass = isSuccess ? "alert-success" : "alert-warning";
    var comeFrom = ViewBag.comeFrom;
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            @* Alert Message Section *@
            <partial name="_AlertMessage" model='new { Message = message, AlertClass = alertClass }' />

            <h1 class="mb-4">@ViewBag.Title</h1>
            
            @* User Information Section *@
            <partial name="_UserCard" model="Model" />

            @* Action Buttons Section *@
            <partial name="_DetailActionButtons" model='new { 
                UserId = userId, 
                ComeFrom = comeFrom, 
                CurrentPage = currentPage 
            }' />
            
            <hr>

            @* Transactions Section *@
            <section id="transactions">
                <h3 class="mb-3">Transaction History</h3>
                @{
                    ViewData["ShowExportButton"] = true;
                    ViewBag.UserId = userId;
                }
                <partial name="_TransactionsTable" model="transactions" />
            </section>
            
            <hr>

            @* File Management Section *@
            <section id="fileManagement">
                <h3>File List</h3>
                <partial name="_FileUploadForm" model='new { UserId = userId, CurrentPage = currentPage }' />
                <partial name="_FileList" model="Model" />
            </section>
            
            <hr>

            @* Video Management Section *@
            <section id="videoManagement">
                <h3>Video</h3>
                <partial name="_VideoUploadForm" />
                <div id="videoList">
                    <partial name="_VideoList" model="Model" />
                </div>
            </section>
            
            <hr>

            @* Todo List Section *@
            <section id="todoList">
                <partial name="_TodoList" />
            </section>
        </div>
    </div>
</div>

@* Modals Section *@
<partial name="_CreateTransactionModal" />

@section Scripts {
    <script>
        window.videoConfig = {
            currentPage: @currentPage,
            userId: @userId,
        };
    </script>
    <script type="module" src="~/js/video-manager.js"></script>
    <script src="~/js/transaction-manager.js"></script>
}